body {
  background-color: #133005;
  color: #272044;
  line-height: 1.5;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  font-family: "Poppins", "sans-serif";
}
ul {
  list-style-type: none;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/scotland-4236311_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  margin: none;
}

header h1 {
  font-size: 96px;
  font-weight: bold;
  margin: 0;
}

header h2 {
  font-weight: normal;
  font-size: 40px;
}

header h3 {
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 5px;
}

header a {
  font-size: 14px;
  background-color: white;
  padding: 13px 28px;
  text-decoration: none;
  border-radius: 2px;
}
.img-responsive {
  max-width: 100%;
}
.edinburgh {
  background-color: white;
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-right: 30px;
}

.edinburgh h2 {
  font-size: 40px;
  font-weight: 700;
  padding-right: 30px;
}
.edinburgh h3 {
  font-size: 16px;
  opacity: 30%;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.edinburgh p {
  font-size: 16px;
}
.cafes {
  text-align: center;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cafes h2 {
  font-weight: 700;
  font-size: 48px;
}
.cafes h3 {
  font-size: 24px;
}
.cafes h4 {
  font-size: 16px;
  letter-spacing: 5px;
  opacity: 30%;
  padding-top: 30px;
}
.cafes p {
  font-weight: 400;
  font-size: 16px;
  opacity: 70%;
}
footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 75px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/edinburgh-7728767_1280.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  padding: 150px 0;
}
footer h3 {
  font-size: 20px;
  font-weight: 700;
}
footer p {
  font-size: 16px;
  font-weight: 400;
}
.about-city {
  text-align: justify;
  text-decoration: none;
}

.about-city h3 {
  text-align: center;
}

.about-me {
  text-align: justify;
}
.about-me h3 {
  text-align: center;
}
.about-web {
  text-align: justify;
  padding-right: 30px;
}
.about-web h3 {
  text-align: center;
}
.about-city a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.about-city a:visited {
  color: white;
}
.about-web a {
  text-decoration: none;
  color: white;
}
.about-web a:visited {
  color: white;
}

@media (max-width: 900px) {
  body {
    line-height: 1;
  }
  header {
    padding: 100px 0;
    margin: 0;
  }
  header h1 {
    font-size: 38px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }

  .edinburgh {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .edinburgh h2 {
    font-size: 20px;
  }
  .edinburgh h3 p {
    font-size: 10px;
  }
  footer {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 10px;
  }
}
